<a href="https://colab.research.google.com/github/maarantesfazenda/python_datascience_alura/blob/main/Notebooks/Aula_Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Esse é o comentário de uma linha
print(10) #Podemos colocar outro comentário em uma linha após um código

10

In [ ]:
'''
Este é um comentário de várias linhas
'''
print(10)

10

# Uso de atributos para texto de comentário no Notepad
# Cabeçalho de nível 1
**Texto em negrito**
## Cabeçalho de nível 2
*Texto em itálico*
### Cabeçalho de nível 3
***Texto em negrito e itálico***
* Item 1
* Item 2
* Nada a ver
1. Item 1
2. Item 2
3. Nada a ver

[Site da Alura](https://www.alura.com.br/)

# Variáveis, Input e Print

In [ ]:
idade = 5

In [ ]:
idade = 10
print (idade)

10

In [ ]:
data_compra = '10/07/2004'
type(data_compra)

str

In [ ]:
nome = input('Escreva seu nome: ')
print('Bom dia ',nome)

Escreva seu nome: Maurício Arantes de Andrade
Bom dia  Maurício Arantes de Andrade

In [ ]:
nome

'Maurício Arantes de Andrade'

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante: '))

Escreva o ano de ingresso do(a) estudante: 2021

In [ ]:
type(ano_entrada)

int

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso:' ))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso [nota_entrada]')

Digite a nota do teste de ingresso:8.5
Ano de entrada 2021 - nota do teste de ingresso [nota_entrada]

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome \t do \t aluno é {}.\nEle tem {} anos.\nSua média é {}.' .format(nome_aluno, idade_aluno, media_aluno))

Nome 	 do 	 aluno é Fabricio Daniel.
Ele tem 15 anos.
Sua média é 8.45.

In [ ]:
nome_aluno = input('Digite o nome do aluno: ')
print('Olá {}, seja bem-vindo!' .format(nome_aluno))

Digite o nome do aluno: Maurício
Olá Maurício, seja bem-vindo!

In [ ]:
idade = input('Digite sua idade: ')
print('Olá {}, sua idade é {} anos.' .format(nome_aluno, idade))

Digite sua idade: 57
Olá Maurício, sua idade é 57 anos.

In [ ]:
nome = input('Digite seu nome: ')
idade = int(input('Digite sua idade: '))
altura = float(input('Digite sua altura em metros: '))
print('Olá {}, você tem {} anos e mede {} metros' .format(nome, idade, altura))

Digite seu nome: Maurício
Digite sua idade: 57
Digite sua altura em metros: 1.93
Olá Maurício, você tem 57 anos e mede 1.93 metros

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
soma = valor1 + valor2
print('A soma dos valores é {}' .format(soma))

Digite o primeiro valor: 10
Digite o segundo valor: 20
A soma dos valores é 30

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
valor3 = int(input('Digite o terceiro valor: '))
soma = valor1 + valor2 + valor3
print(f'A soma dos valores é {soma}')
#

Digite o primeiro valor: 10
Digite o segundo valor: 20
Digite o terceiro valor: 30
A soma dos valores é 60

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
subtracao = valor1 - valor2
print(f'A subtração dos valores é {subtracao}')
#

Digite o primeiro valor: 10
Digite o segundo valor: 20
A subtração dos valores é -10

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
multiplicacao = valor1 * valor2
print(f'A multiplicação dos valores é {multiplicacao}')
#

Digite o primeiro valor: 10
Digite o segundo valor: 20
A multiplicação dos valores é 200

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor diferente de zero: '))
divisao = valor1 % valor2
print(f'O resto dos valores é {divisao}')
#

Digite o primeiro valor: 5
Digite o segundo valor diferente de zero: 2
O resto dos valores é 1

In [ ]:
# prompt: Crie um código que calcule e imprima a média ponderada dos números 5, 12, 20 e 15 com pesos respectivamente iguais a 1, 2, 3 e 4

numeros = [5, 12, 20, 15]
pesos = [1, 2, 3, 4]

# Calcula a média ponderada
soma_ponderada = sum(numero * peso for numero, peso in zip(numeros, pesos))
soma_pesos = sum(pesos)
media_ponderada = soma_ponderada / soma_pesos

# Imprime a média ponderada
print(f"A média ponderada é: {media_ponderada}")

A média ponderada é: 14.9

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
exponenciacao = valor1 ** valor2
print(f'A exponenciação dos valores é {exponenciacao}')
#

Digite o primeiro valor: 10
Digite o segundo valor: 20
A exponenciação dos valores é 100000000000000000000

In [ ]:
frase = input('Digite uma frase inspiradora... ')
print(frase.replace('s','$'))

Digite uma frase inspiradora... 'A inteligência de um homem está diretamente relacionada à incerteza que ele é capaz de suportar'
'A inteligência de um homem e$tá diretamente relacionada à incerteza que ele é capaz de $uportar'

# Estruturas Condicionais

In [ ]:
if 2>7:
    print('condição verdadeira')
else:
    print('condição falsa')

condição falsa

In [ ]:
media = float(input('Digite a média do aluno: '))
if media >= 6:
    print('Aprovado')
if 6.0 > media >= 4.0:
    print('Recuperação')
if media < 4.0:
    print('Reprovado')

Digite a média do aluno: 3
Reprovado

In [ ]:
lista = 'Maurício, Ricardo, Jandira, Carla, Pietro, Júlia, Laís'
nome = input('Digite o nome de alguém da família: ')
if nome in lista:
    print('{} é da família' .format(nome))
else:
    print('{} NÃO é da família' .format(nome))

Digite o nome de alguém da família: Laís
Laís é da família

In [ ]:
valor1 = int(input('Digite o primeiro valor: '))
valor2 = int(input('Digite o segundo valor: '))
if valor1 > valor2:
    print('O primeiro valor é maior')

Digite o primeiro valor: 10
Digite o segundo valor: 1
O primeiro valor é maior

In [ ]:
percentual = float(input('Digite o percentual de crescimento: '))
if percentual > 0:
    print('Houve crescimento')
else:
    print('Houve decrescimento')

Digite o percentual de crescimento: 0
Houve decrescimento

In [ ]:
letra = input('Digite uma letra: ')
if letra in 'aeiouAEIOU':
    print('{} É uma vogal' .format(letra))
else:
    print('{} É uma consoante' .format(letra))

Digite uma letra: Z
Z É uma consoante

In [ ]:
vlr_carro1 = float(input('Digite o valor do carro no ano 1: '))
vlr_carro2 = float(input('Digite o valor do carro no ano 2: '))
vlr_carro3 = float(input('Digite o valor do carro no ano3: '))
#mais caro
if vlr_carro1 > vlr_carro2 and vlr_carro1 > vlr_carro3:
    print('O carro do ano 1 é o mais caro')
elif vlr_carro2 > vlr_carro1 and vlr_carro2 > vlr_carro3:
    print('O carro do ano 2 é o mais caro')
else:
    print('O carro do ano 3 é o mais caro')
#mais barato
if vlr_carro1 < vlr_carro2 and vlr_carro1 < vlr_carro3:
    print('O carro do ano 1 é o mais barato')
elif vlr_carro2 < vlr_carro1 and vlr_carro2 < vlr_carro3:
    print('O carro do ano 2 é o mais barato')
else:
    print('O carro do ano 3 é o mais barato')

Digite o valor do carro no ano 1: 2
Digite o valor do carro no ano 2: 2
Digite o valor do carro no ano3: 2
O carro do ano 3 é o mais caro
O carro do ano 3 é o mais barato

In [ ]:
vlr_produto1 = float(input('Digite o valor do produto 1: '))
vlr_produto2 = float(input('Digite o valor do produto 2: '))
vlr_produto3 = float(input('Digite o valor do produto 3: '))
#mais barato
if vlr_produto1 < vlr_produto2 and vlr_produto1 < vlr_produto3:
    print('O produto 1 é o mais barato')
elif vlr_produto2 < vlr_produto1 and vlr_produto2 < vlr_produto3:
    print('O produto 2 é o mais barato')
else:
    print('O produto 3 é o mais barato')

Digite o valor do produto 1: 10
Digite o valor do produto 2: 5
Digite o valor do produto 3: 25
O produto 2 é o mais barato

In [ ]:
# prompt: Escreva um programa que leia três números e os exiba em ordem decrescente

num1 = float(input("Digite o primeiro número: "))
num2 = float(input("Digite o segundo número: "))
num3 = float(input("Digite o terceiro número: "))

numeros = [num1, num2, num3]
numeros.sort(reverse=True)

print("Números em ordem decrescente:", numeros)

Digite o primeiro número: 13
Digite o segundo número: 5
Digite o terceiro número: 25
Números em ordem decrescente: [25.0, 13.0, 5.0]

In [ ]:
turno = input('Em turno você estuda? ')
if turno.upper() == 'MANHÃ':
    print('Bom dia!')
elif turno.upper() == 'TARDE':
    print('Boa tarde!')
elif turno.upper() == 'NOITE':
    print('Boa noite!')
else:
    print('Valor inválido')

Em turno você estuda? Vá se foder!
Valor inválido

In [ ]:
num = int(input('Digite um número: '))
if num % 2 == 0:
    print('O número é par')
else:
    print('O número é ímpar')

Digite um número: 10
O número é par

In [ ]:
num = float(input('Digite um número: '))
if num - int(num) == 0:
    print('{} é um número é inteiro' .format(num))
else:
    print('{} é um número decimal' .format(num))

Digite um número: 15.35
15.35 é um número decimal

In [ ]:
num1 = float(input('Digite o primeiro número: '))
num2 = float(input('Digite o segundo número: '))
operacao = input('Digite a operação (+, -, *, /): ')
if operacao == '+':
    resultado = num1 + num2
elif operacao == '-':
    resultado = num1 - num2
elif operacao == '*':
    resultado = num1 * num2
elif operacao == '/':
    resultado = num1 / num2
else:
    print('Operação inválida')
print(f'O resultado é {resultado}')
if resultado % 2 == 0:
    print('O resultado é par')
else:
    print('O resultado é ímpar')
if int(resultado) == resultado:
    print('O resultado é inteiro')
else:
    print('O resultado é decimal')

Digite o primeiro número: 5
Digite o segundo número: 3.7
Digite a operação (+, -, *, /): /
O resultado é 1.3513513513513513
O resultado é ímpar
O resultado é decimal

In [ ]:
num1 = float(input('Digite o primeiro número: '))
num2 = float(input('Digite o segundo número: '))
num3 = float(input('Digite o terceiro número: '))
if (num1 + num2) > num3:
  print ('É possível formar um triângulo')
elif (num2 + num3) > num1:
  print ('É possível formar um triângulo')
elif (num1 + num3) > num2:
  print ('É possível formar um triângulo')
else:
  print ('Não é possível formar um triângulo')

if num1 == num2 == num3:
   print('O triângulo é equilátero')
elif num1 != num2 != num3:
    print('O triângulo é escaleno')
else:
    print('O triângulo é isósceles')

Digite o primeiro número: 10
Digite o segundo número: 10
Digite o terceiro número: 10
É possível formar um triângulo
O triângulo é equilátero

In [ ]:
combustivel = input("Digite D para diesel, G para gasolina ou E para etanol: ")
litros = float(input("Digite a quantidade de litros vendidos: "))
if combustivel.upper() == "D":
    preco_diesel = 2.0
    preco_total = litros * preco_diesel
    if litros <= 15:
        preco_total -= preco_total * 0.03
    else:
        preco_total -= preco_total * 0.05
elif combustivel.upper() == "G":
    preco_gasolina = 5.9
    preco_total = litros * preco_gasolina
elif combustivel.upper() == "E":
    preco_etanol = 1.7
    preco_total = litros * preco_etanol
    if litros <= 15:
        preco_total -= preco_total * 0.02
    else:
        preco_total -= preco_total * 0.04

if combustivel.upper() in ["D","G","E"]:
  print(f"O preço total a pagar é R$ {preco_total:.2f}")
else:
  print("Combustível inválido")

Digite D para diesel, G para gasolina ou E para etanol: e
Digite a quantidade de litros vendidos: 100
O preço total a pagar é R$ 163.20

In [ ]:
vendas_2022 = int(input('Digite a quantidade de vendas do ano de 2022: '))
vendas_2023 = int(input('Digite a quantidade de vendas do ano de 20213 '))
variacao_vendas = float((vendas_2023 / vendas_2022) -1)
if variacao_vendas > 0.2:
    print('Aumento de {}%. Recomendamos bonificação para o time!!!'.format(variacao_vendas * 100))
elif 0.02 < variacao_vendas < 0.2:
    print('Aumento de {}%. Recomendamos pequena bonificação para o time'.format(variacao_vendas * 100))
elif -0.1 < variacao_vendas < 0.02:
    print('Variação de {}%. Recomendamos planejamento de políticias de incentivo a vendas'.format(variacao_vendas * 100))
else:
    print('Redução de {}%. Recomendamos corte de gastos.'.format(variacao_vendas * 100))

Digite a quantidade de vendas do ano de 2022: 100
Digite a quantidade de vendas do ano de 20213 80
Redução de -19.999999999999996%. Recomendamos corte de gastos.

# Estruturas de Repetição

## while

In [ ]:
contador = 1
while contador <= 10:
    print(contador)
    contador += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
contador = 1
while contador <= 3:
  nota_1 = float(input('Digite a nota 1: '))
  nota_2 = float(input('Digite a nota 2: '))
  media = (nota_1 + nota_2) / 2
  print(f'A média é {media}')
  contador += 1

Digite a nota 1: 5
Digite a nota 2: 7
A média é 6.0
Digite a nota 1: 10
Digite a nota 2: 10
A média é 10.0
Digite a nota 1: 3
Digite a nota 2: 2.7
A média é 2.85

##for

In [ ]:
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for contador in range(1,4):
  nota_1 = float(input('Digite a nota 1: '))
  nota_2 = float(input('Digite a nota 2: '))
  media = (nota_1 + nota_2) / 2
  print(f'A média é {media}')

Digite a nota 1: 10
Digite a nota 2: 8
A média é 9.0
Digite a nota 1: 5
Digite a nota 2: 7
A média é 6.0
Digite a nota 1: 3
Digite a nota 2: 5
A média é 4.0

## Exercícios

In [ ]:
num1 = int(input('Digite o primeiro número: '))
num2 = int(input('Digite o segundo número: '))
for contador in range(num1, num2 + 1):
    print(contador)

Digite o primeiro número: 5
Digite o segundo número: 10
5
6
7
8
9
10

In [ ]:
a = float(4)
b = float(10)
nr_dias = 1
while a < b:
   a *= 1.03
   b *= 1.015
   if a > b:
    print(f'A colônia A passou a colônia b no {nr_dias}º dia, sendo que a colônia A tinha {a} bactérias e a colônia B tinha {b} bactérias')
   nr_dias += 1

A colônia A passou a colônia b no 63º dia, sendo que a colônia A tinha 25.75165514029839 bactérias e a colônia B tinha 25.548220848110983 bactérias

In [ ]:
for i in range(1,16):
  avaliacao = int(input('Digite a avaliação do serviço: '))
  if 0 <= avaliacao <= 5:
    print(avaliacao)
  else:
    print('Avaliação inválida')

Digite a avaliação do serviço: 1
1
Digite a avaliação do serviço: 2
2
Digite a avaliação do serviço: 3
3
Digite a avaliação do serviço: 4
4
Digite a avaliação do serviço: 5
5
Digite a avaliação do serviço: 6
Avaliação inválida
Digite a avaliação do serviço: 7
Avaliação inválida
Digite a avaliação do serviço: 8
Avaliação inválida
Digite a avaliação do serviço: 9
Avaliação inválida
Digite a avaliação do serviço: 10
Avaliação inválida
Digite a avaliação do serviço: 11
Avaliação inválida
Digite a avaliação do serviço: 12
Avaliação inválida
Digite a avaliação do serviço: 13
Avaliação inválida
Digite a avaliação do serviço: 14
Avaliação inválida
Digite a avaliação do serviço: 15
Avaliação inválida

In [ ]:
contador = 0
temperatura = 0
acum_temperatura = 0
while True:
  temperatura = float(input('Digite a temperatura: '))
  if temperatura == -273:
    break
  acum_temperatura += temperatura
  contador += 1
  media = temperatura / contador
media = acum_temperatura / contador
print(f'A média da temperatura é {media}')

KeyboardInterrupt: Interrupted by user

In [ ]:
fatorial = 1
num_fatorial = int(input('Digite um número para calcular o fatorial: '))
for i in range(num_fatorial,1,-1):
  fatorial *= i
print(fatorial)

Digite um número para calcular o fatorial: 5
120

In [ ]:
num_tabuada = int(input('Digite um número para calcular a tabuada: '))
for i in range(1,11):
  print(f'{num_tabuada} x {i} = {num_tabuada * i}')

Digite um número para calcular a tabuada: 11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [ ]:
primo = int(input('Digite um número para verificar se é primo: '))
contador = 0
for i in range(2,primo):
  if primo % i == 0:
    contador += 1
    break
if contador == 0:
  print(f'O número {primo}  é primo')
else:
  print('O número {primo} não é primo')

Digite um número para verificar se é primo: 127
O número 127  é primo

In [ ]:
faixa0_25 = 0
faixa26_50 = 0
faixa51_75 = 0
faixa76_100 = 0
while True:
  idade_pensionista = int(input('Digite a idade do pensionista: '))
  if idade_pensionista < 0:
    break
  elif 0 < idade_pensionista <= 25:
    faixa0_25 += 1
  elif 25 < idade_pensionista <= 50:
    faixa26_50 += 1
  elif 50 < idade_pensionista <= 75:
    faixa51_75 += 1
  elif 75 < idade_pensionista <= 100:
    faixa76_100 += 1
  else:
    print('Parabéns! Passou dos 100!')

print(f'\n\n\nEntre 0 - 25 anos: {faixa0_25}')
print(f'Entre 26 - 50 anos: {faixa26_50}')
print(f'Entre 51 - 75 anos: {faixa51_75}')
print(f'Entre 76 - 100 anos: {faixa76_100}')

Digite a idade do pensionista: 1
Digite a idade do pensionista: 2
Digite a idade do pensionista: 3
Digite a idade do pensionista: -1



Entre 0 - 25 anos: 3
Entre 26 - 50 anos: 0
Entre 51 - 75 anos: 0
Entre 76 - 100 anos: 0

In [ ]:
candidato1 = 0
candidato2 = 0
candidato3 = 0
candidato4 = 0
branco = 0
nulo = 0
for i in range(1,21):
  voto = int(input("Escolha o candidato "))
  if voto == 1:
    candidato1 += 1
  elif voto == 2:
    candidato2 += 1
  elif voto == 3:
    candidato3 += 1
  elif voto == 4:
    candidato4 += 1
  elif voto == 5:
    branco += 1
  elif voto == 6:
    nulo += 1
  else:
    print('Voto inválido')



print(f'O candidato 1 teve {candidato1} votos')
print(f'O candidato 2 teve {candidato2} votos')
print(f'O candidato 3 teve {candidato3} votos')
print(f'O candidato 4 teve {candidato4} votos')
print(f'Houve {branco} votos em branco')
print(f'Houve {nulo} votos nulos')
total_votos_validos = candidato1 + candidato2 + candidato3 + candidato4
print(f'\nO total de votos válidos foi {total_votos_validos}')

if candidato1 > candidato2 and candidato1 > candidato3 and candidato1 > candidato4:
  print(f'O candidato 1 foi o vencedor com {candidato1} votos')
elif candidato2 > candidato1 and candidato2 > candidato3 and candidato2 > candidato4:
  print(f'O candidato 2 foi o vencedor com {candidato2} votos')
elif candidato3 > candidato1 and candidato3 > candidato2 and candidato3 > candidato4:
  print(f'O candidato 3 foi o vencedor com {candidato3} votos')
elif candidato4 > candidato1 and candidato4 > candidato2 and candidato4 > candidato3:
  print(f'O candidato 4 foi o vencedor com {candidato4} votos')
else:
  print('Houve empate')

Escolha o candidato 1
Escolha o candidato 2
Escolha o candidato 3
Escolha o candidato 4
Escolha o candidato 5
Escolha o candidato 6
Escolha o candidato 7
Voto inválido
Escolha o candidato 1
Escolha o candidato 2
Escolha o candidato 3
Escolha o candidato 4
Escolha o candidato 5
Escolha o candidato 6
Escolha o candidato 7
Voto inválido
Escolha o candidato 1
Escolha o candidato 2
Escolha o candidato 3
Escolha o candidato 4
Escolha o candidato 5
Escolha o candidato 6
O candidato 1 teve 3 votos
O candidato 2 teve 3 votos
O candidato 3 teve 3 votos
O candidato 4 teve 3 votos
Houve 3 votos em branco
Houve 3 votos nulos

O total de votos válidos foi 12
Houve empate

# Listas

In [ ]:
lista = ['Fabricio Daniel',9.5,9.0,8.0,True]
for elemento in lista:
  print(elemento)

Fabricio Daniel
9.5
9.0
8.0
True

In [ ]:
len(lista)

5

In [ ]:
lista[1:4]

[9.5, 9.0, 8.0]

In [ ]:
lista[3:]

[8.0, True]

In [ ]:
  media = (lista[1] + lista[2] + lista[3]) / 3
  print(media)

8.833333333333334

In [ ]:
lista.append(media)
print(lista)

['Fabricio Daniel', 9.5, 9.0, 8.0, True, 8.833333333333334]

In [ ]:
 lista.extend([10.0,8.0,9.0])
 print(lista)

['Fabricio Daniel', 9.5, 9.0, 8.0, True, 8.833333333333334, 10.0, 8.0, 9.0, 10.0, 8.0, 9.0]

In [ ]:
lista.append([10.0,8.0,9.0]) #não funciona!!! tem que usar o extend
print(lista) #aparece como se fosse um elemento só

['Fabricio Daniel', 9.5, 9.0, 8.0, True, 8.833333333333334, 10.0, 8.0, 9.0, 10.0, 8.0, 9.0, [10.0, 8.0, 9.0]]

In [ ]:
lista.remove([10.0,8.0,9.0])
print(lista)

['Fabricio Daniel', 9.5, 9.0, 8.0, True, 8.833333333333334, 10.0, 8.0, 9.0, 10.0, 8.0, 9.0]

In [ ]:
lista.remove(4)
print(lista)

ValueError: list.remove(x): x not in list

# Dicionários

In [ ]:
cadastro = {'matrícula': 2000168933,
            'dia_cadastro': 25,
            'mes_cadastro':10,
            'turma:': '2E'}
print(cadastro)

{'matrícula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'turma:': '2E'}

In [ ]:
cadastro['matrícula']

2000168933

In [ ]:
cadastro['turma'] = '2G'
print(cadastro['turma'])

2G

In [ ]:
cadastro['modallidade'] = 'EAD'
print(cadastro)

{'matrícula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'turma:': '2E', 'turma': '2G', 'modallidade': 'EAD'}

In [ ]:
cadastro.pop('turma')
print(cadastro)

{'matrícula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'turma:': '2E', 'modallidade': 'EAD'}

In [ ]:
cadastro

{'matrícula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma:': '2E',
 'modallidade': 'EAD'}

In [ ]:
cadastro.pop('turma:')

'2E'

In [ ]:
cadastro

{'matrícula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'modallidade': 'EAD'}

In [ ]:
cadastro.items()

dict_items([('matrícula', 2000168933), ('dia_cadastro', 25), ('mes_cadastro', 10), ('modallidade', 'EAD')])

In [ ]:
cadastro.keys()

dict_keys(['matrícula', 'dia_cadastro', 'mes_cadastro', 'modallidade'])

In [ ]:
cadastro.values()

dict_values([2000168933, 25, 10, 'EAD'])

In [ ]:
for chaves, valores in cadastro.items():
  print(chaves, valores)

matrícula 2000168933
dia_cadastro 25
mes_cadastro 10
modallidade EAD

In [ ]:
loja = {'nomes': ['televisão', 'celular', 'notebook', 'geladeira', 'fogão'],
        'precos': [2000, 1500, 3500, 4000, 1500]}

In [ ]:
print(loja)

nomes = loja['nomes']
precos = loja['precos']
#print(nomes)
#print(precos)
for i in range(len(nomes)):
  print(f'{nomes[i]} custa {precos[i]}')

{'nomes': ['televisão', 'celular', 'notebook', 'geladeira', 'fogão'], 'precos': [2000, 1500, 3500, 4000, 1500]}
televisão custa 2000
celular custa 1500
notebook custa 3500
geladeira custa 4000
fogão custa 1500

## Funções Built-in

In [ ]:
precos = [100.0, 400.0, 200.0]
soma = sum(precos)
print(soma)

700.0

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
dir(lista)

NameError: name 'lista' is not defined

In [ ]:
dir(loja)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

## Exercícios Listas e Dicionários

In [ ]:
gastos = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
media = sum(gastos) / len(gastos)
print(media)

3144.222

In [ ]:
maior_3000 = 0
for i in range(len(gastos)):
  if gastos[i] > 3000:
    maior_3000 += 1
perc_maior_3000 = maior_3000 / len(gastos) * 100
print(f'A porcentagem de gastos acima de 3000 é {perc_maior_3000}%')

A porcentagem de gastos acima de 3000 é 70.0%

In [ ]:
#mostra os números em classificação descendente
numeros = []
while True:
  numero = int(input('Digite um número: '))
  if numero == 0:
    break
  numeros.append(numero)
numeros.sort(reverse=True)
print(numeros)

Digite um número: 10
Digite um número: 20
Digite um número: 30
Digite um número: 0
[30, 20, 10]

In [ ]:
#mostra o número na ordem inversa que foram coletados
numeros = []
while True:
  numero = int(input('Digite um número: '))
  if numero == 0:
    break
  numeros.append(numero)
#ordem inversa da entrada
numeros_inverso = []
for i in range(-1,(len(numeros)*-1)-1,-1):
  numeros_inverso.append(numeros[i])
print(numeros)
print(numeros_inverso)

Digite um número: 13
Digite um número: 25
Digite um número: 7
Digite um número: 5
Digite um número: 0
[13, 25, 7, 5]
[5, 7, 25, 13]

In [ ]:
primos = []
nr_primos = int(input('Digite até que número quer que mostre os primos'))
for i in range(2,nr_primos):
  contador = 0
  for j in range(2,i):
    if i % j == 0:
      contador += 1
      break
  if contador == 0:
    primos.append(i)
print(primos)

Digite até que número quer que mostre os primos100
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [ ]:
# prompt: Escreva um programa que peça uma data informando o dia, mês e ano e determine se ela é válida para uma análise.

def validar_data(dia, mes, ano):
    """
    Valida uma data informada pelo usuário.

    Args:
      dia: O dia da data.
      mes: O mês da data.
      ano: O ano da data.

    Returns:
      True se a data for válida, False caso contrário.
    """

    # Verificar se o ano é válido (após 1900, por exemplo)
    if ano < 1900:
        return False

    # Verificar se o mês é válido
    if not 1 <= mes <= 12:
        return False

    # Verificar se o dia é válido com base no mês e no ano
    dias_no_mes = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if mes == 2 and ano % 4 == 0 and (ano % 100 != 0 or ano % 400 == 0):
        dias_no_mes[2] = 29  # Ano bissexto

    if not 1 <= dia <= dias_no_mes[mes]:
        return False

    return True


# Solicitar a data ao usuário
dia = int(input("Digite o dia: "))
mes = int(input("Digite o mês: "))
ano = int(input("Digite o ano: "))

# Validar a data
if validar_data(dia, mes, ano):
    print(f"Data válida. {dia}/{mes}/{ano}")
else:
    print(f"Data inválida. {dia}/{mes}/{ano}")

Digite o dia: 31
Digite o mês: 02
Digite o ano: 2024
Data inválida. 31/2/2024

In [ ]:
amostra = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
amostra_atual = float(0)
amostra_passada = float(0)
for i in range(len(amostra)):
  if i == 0:
    amostra_atual = amostra[i]
    print()
    continue
  else:
    amostra_passada = amostra_atual
    amostra_atual = amostra[i]
  print(f'O crescimento da amostra no dia {i} foi de {(amostra_atual - amostra_passada) / amostra_passada * 100}%')

1
1.2
2.1
O crescimento da amostra no dia 1 foi de 75.00000000000001%
2
2.1
3.3
O crescimento da amostra no dia 2 foi de 57.14285714285713%
3
3.3
5.0
O crescimento da amostra no dia 3 foi de 51.51515151515152%
4
5.0
7.8
O crescimento da amostra no dia 4 foi de 55.99999999999999%
5
7.8
11.3
O crescimento da amostra no dia 5 foi de 44.87179487179488%
6
11.3
16.6
O crescimento da amostra no dia 6 foi de 46.902654867256636%
7
16.6
25.1
O crescimento da amostra no dia 7 foi de 51.20481927710843%
8
25.1
37.8
O crescimento da amostra no dia 8 foi de 50.59760956175297%
9
37.8
56.9
O crescimento da amostra no dia 9 foi de 50.52910052910053%

In [ ]:
IDS = []
par = 0
impar = 0
for i in range(1,11):
  ID = int(input('Digite o ID do produto: '))
  IDS.append(ID)
  if ID % 2 == 0:
    par += 1
  else:
    impar += 1
print(f'A quantidade de produtos doces é {par}')
print(f'A quantidade de números amargos é {impar}')

print(IDS)

Digite o ID do produto: 1
Digite o ID do produto: 5
Digite o ID do produto: 7
Digite o ID do produto: 10
Digite o ID do produto: 20
Digite o ID do produto: 30
Digite o ID do produto: 40
Digite o ID do produto: 50
Digite o ID do produto: 60
Digite o ID do produto: 70
A quantidade de produtos doces é 7
A quantidade de números amargos é 3
[1, 5, 7, 10, 20, 30, 40, 50, 60, 70]

In [ ]:
gabarito = {1:'D',2:'A',3:'C',4:'B',5:'A',6:'D',7:'C',8:'C',9:'A',10:'B'}
nota = 0
print(gabarito)
for i in gabarito:
  resposta = input('Digite a resposta: ')
  if resposta.upper() == gabarito[i]:
    nota += 1
print(f'A nota do aluno foi {nota}')

{1: 'D', 2: 'A', 3: 'C', 4: 'B', 5: 'A', 6: 'D', 7: 'C', 8: 'C', 9: 'A', 10: 'B'}
Digite a resposta: D
Digite a resposta: a
Digite a resposta: c
Digite a resposta: b
Digite a resposta: a
Digite a resposta: d
Digite a resposta: c
Digite a resposta: c
Digite a resposta: a
Digite a resposta: b
A nota do aluno foi 10

In [ ]:
temperatura = []
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
for i in range(12):
  temperatura.append(float(input(f'Digite a temperatura média do mês de {meses[i]}: ')))
media_temperatura = sum(temperatura) / len(temperatura)
for i in range(12):
  print(f'Em {meses[i]} a temperatura média foi {temperatura[i]}')
print(f'A média anual de temperatura foi de {media_temperatura}')

Digite a temperatura média do mês de Janeiro: 30.3
Digite a temperatura média do mês de Fevereiro: 31.4
Digite a temperatura média do mês de Março: 25.7
Digite a temperatura média do mês de Abril: 24
Digite a temperatura média do mês de Maio: 23.8
Digite a temperatura média do mês de Junho: 15.7
Digite a temperatura média do mês de Julho: 16.8
Digite a temperatura média do mês de Agosto: 19.5
Digite a temperatura média do mês de Setembro: 20.7
Digite a temperatura média do mês de Outubro: 21.6
Digite a temperatura média do mês de Novembro: 27.1
Digite a temperatura média do mês de Dezembro: 35.4
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
Em [meses] a temperatura média foi {temperatura}
A média anual de temperatura foi de 24.333333333333332

In [ ]:
for i in range(12):
  print(f'Em {meses[i]} a temperatura média foi {temperatura[i]}')
print(f'A média anual de temperatura foi de {media_temperatura}')

Em Janeiro a temperatura média foi 30.3
Em Fevereiro a temperatura média foi 31.4
Em Março a temperatura média foi 25.7
Em Abril a temperatura média foi 24.0
Em Maio a temperatura média foi 23.8
Em Junho a temperatura média foi 15.7
Em Julho a temperatura média foi 16.8
Em Agosto a temperatura média foi 19.5
Em Setembro a temperatura média foi 20.7
Em Outubro a temperatura média foi 21.6
Em Novembro a temperatura média foi 27.1
Em Dezembro a temperatura média foi 35.4
A média anual de temperatura foi de 24.333333333333332

In [ ]:
vendas = {'Produto A': 300,
          'Produto B': 80,
          'Produto C': 60,
          'Produto D': 200,
          'Produto E': 550,
          'Produto F': 30}
produto = ' '
venda = 0
for i in vendas:
  if vendas[i] > venda:
    venda = vendas[i]
    produto = i
    print(produto)
print(f'O produto mais vendido foi {produto} com {venda} vendas')

Produto A
Produto E
O produto mais vendido foi Produto E com 550 vendas

In [ ]:
designs = {'Design 1': 1334,
           'Design 2': 982,
           'Design 3': 1751,
           'Design 4' : 210,
           'Design 5' : 1811}
votos = 0
acum_votos = 0
for i in designs:
  acum_votos += designs[i]
  if designs[i] > votos:
    votos = designs[i]
    design = i
print(f'O design vencedor foi {design} com {votos} votos, equivalente a {votos / acum_votos * 100}% dos votos')

O design vencedor foi Design 5 com 1811 votos, equivalente a 29.747043363994745% dos votos

In [ ]:
abonos = {1172:0, 1644:0, 2617:0, 5130:0, 5532:0, 6341:0, 6650:0, 7238:0, 7685:0, 7782:0, 7903:0}
total_gastos = 0
contador200 = 0
maior_abono = 0
for i in abonos:
  abonos[i] = i*0.1
  if abonos[i] < 200:
    abonos[i] = 200
    contador200 += 1
  total_gastos += abonos[i]
  if abonos[i] > maior_abono:
    maior_abono = abonos[i]
print(abonos)
print(f'O total de gastos foi de {total_gastos}')
print(f'O total de abonos no valor de R$200 foi {contador200}')
print(f'O maior abono foi de {maior_abono}')

{1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
O total de gastos foi de 6087.8
O total de abonos no valor de R$200 foi 2
O maior abono foi de 790.3000000000001

In [ ]:
#area, plantas, animais
especies_area = {'Área Norte': [2819, 7236],
                 'Área Leste': [1440, 9492],
                 'Área Sul': [5969, 7496],
                 'Área Oeste': [14446, 49688],
                 'Área Centro': [22558, 45148]}
total_especies_area = 0
for i in especies_area:
  if especies_area[i][0] + especies_area[i][1] > total_especies_area:
    total_especies_area = especies_area[i][0] + especies_area[i][1]
    area = i
  print(f'A média de espécies da área {i} é {(especies_area[i][0] + especies_area[i][1]) / 2}')
print(f'A área com maior diversidade ecológica é {area}, com {total_especies_area} espécies')

A média de espécies da área Área Norte é 5027.5
A média de espécies da área Área Leste é 5466.0
A média de espécies da área Área Sul é 6732.5
A média de espécies da área Área Oeste é 32067.0
A média de espécies da área Área Centro é 33853.0
A área com maior diversidade ecológica é Área Centro, com 67706

In [ ]:
idade_colaboradores = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
                       'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
                       'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
                       'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
total_idade = 0
total_colaboradores = 0
acima_media = 0
for i in idade_colaboradores:
  print(f'A média de idade do setor {i} é {sum(idade_colaboradores[i]) / len(idade_colaboradores[i])}')
  total_idade += sum(idade_colaboradores[i])
  total_colaboradores += len(idade_colaboradores[i])
print(f'A média de idade de todos os colaboradores é {total_idade / total_colaboradores}')
for i in idade_colaboradores:
  for j in range(len(idade_colaboradores[i])):
    if idade_colaboradores[i][j] > total_idade / total_colaboradores:
      acima_media += 1
print(f'A quantidade de colaboradores acima da média de idade é {acima_media}')

A média de idade do setor Setor A é 39.9
A média de idade do setor Setor B é 42.3
A média de idade do setor Setor C é 35.8
A média de idade do setor Setor D é 36.5
A média de idade de todos os colaboradores é 38.625
A quantidade de colaboradores acima da média de idade é 18

In [ ]:
# prompt: 15) O setor de RH da sua empresa te pediu uma ajuda para analisar as idades de colaboradores(as) de 4 setores da empresa. Para isso, foram fornecidos os seguintes dados:
# {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
#  'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
#  'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
#  'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
# Sabendo que cada setor tem 10 colaboradores(as), construa um código que calcule a média de idade de cada setor, a idade média geral entre todos os setores e quantas pessoas estão acima da idade média geral.

idade_colaboradores = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
                       'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
                       'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
                       'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

total_idade = 0
total_colaboradores = 0
acima_media = 0

for setor, idades in idade_colaboradores.items():
  media_setor = sum(idades) / len(idades)
  print(f'A média de idade do setor {setor} é {media_setor}')
  total_idade += sum(idades)
  total_colaboradores += len(idades)

media_geral = total_idade / total_colaboradores
print(f'A média de idade de todos os colaboradores é {media_geral}')

for setor, idades in idade_colaboradores.items():
  for idade in idades:
    if idade > media_geral:
      acima_media += 1

print(f'A quantidade de colaboradores acima da média de idade é {acima_media}')

A média de idade do setor Setor A é 39.9
A média de idade do setor Setor B é 42.3
A média de idade do setor Setor C é 35.8
A média de idade do setor Setor D é 36.5
A média de idade de todos os colaboradores é 38.625
A quantidade de colaboradores acima da média de idade é 18

# NUMPY

In [ ]:
import numpy as np

In [ ]:
np.loadtxt('apples_ts.csv', delimiter=',',usecols=np.arange(1,88,1))

array([[  1.2013,   2.2013,   3.2013,   4.2013,   5.2013,   6.2013,
          7.2013,   8.2013,   9.2013,  10.2013,  11.2013,  12.2013,
          1.2014,   2.2014,   3.2014,   4.2014,   5.2014,   6.2014,
          7.2014,   8.2014,   9.2014,  10.2014,  11.2014,  12.2014,
          1.2015,   2.2015,   3.2015,   4.2015,   5.2015,   6.2015,
          7.2015,   8.2015,   9.2015,  10.2015,  11.2015,  12.2015,
          1.2016,   2.2016,   3.2016,   4.2016,   5.2016,   6.2016,
          7.2016,   8.2016,   9.2016,  10.2016,  11.2016,  12.2016,
          1.2017,   2.2017,   3.2017,   4.2017,   5.2017,   6.2017,
          7.2017,   8.2017,   9.2017,  10.2017,  11.2017,  12.2017,
          1.2018,   2.2018,   3.2018,   4.2018,   5.2018,   6.2018,
          7.2018,   8.2018,   9.2018,  10.2018,  11.2018,  12.2018,
          1.2019,   2.2019,   3.2019,   4.2019,   5.2019,   6.2019,
          7.2019,   8.2019,   9.2019,  10.2019,  11.2019,  12.2019,
          1.202 ,   2.202 ,   3.202 ],
       [ 79.72  ,  81.08  ,  79.68  ,  79.8   ,  80.63  ,  80.8   ,
         80.28  ,  78.99  ,  76.77  ,  76.09  ,  76.36  ,  77.16  ,
         77.5   ,  79.03  ,  80.28  ,  80.05  ,  78.11  ,  76.9   ,
         77.68  ,  76.05  ,  75.53  ,  73.39  ,  78.36  ,  89.16  ,
        105.43  , 104.82  , 101.15  ,  98.63  ,  99.96  ,  97.29  ,
         98.64  , 104.26  , 102.63  ,  98.64  ,  97.17  ,  98.09  ,
        103.07  , 110.26  , 110.84  , 112.28  , 111.1   , 110.06  ,
        113.7   , 112.88  , 102.08  ,  95.54  ,  91.33  ,  89.99  ,
         91.44  ,  93.51  ,  93.6   ,  93.78  ,  98.91  , 121.76  ,
        129.6   , 127.9   , 114.55  , 101.88  ,  99.09  , 103.35  ,
        106.58  , 108.    , 114.95  , 121.17  , 122.48  , 127.58  ,
        131.89  , 129.36  , 104.26  ,  93.45  ,  92.93  ,  96.15  ,
         99.1   , 103.    , 103.31  , 103.01  , 107.37  , 116.91  ,
        125.29  , 123.94  , 113.03  , 102.19  ,  97.83  , 101.07  ,
        103.44  , 108.23  , 110.28  ],
       [ 42.67  ,  44.37  ,  44.73  ,  46.75  ,      nan,  51.59  ,
         57.8   ,  62.14  ,  56.76  ,  50.85  ,  46.43  ,  46.73  ,
         45.85  ,  49.25  ,  48.14  ,  49.18  ,  49.49  ,  49.83  ,
         49.14  ,  63.21  ,  61.2   ,  60.34  ,  62.2   ,  74.2   ,
         75.32  ,  75.92  ,  72.89  ,  74.85  ,  92.19  ,  99.7   ,
        102.78  ,  92.67  ,  90.63  ,  83.31  ,  75.5   ,  74.6   ,
         76.94  ,  83.04  ,  80.74  ,  80.29  ,  82.82  ,  86.29  ,
         87.41  ,  85.1   ,  78.08  ,  76.06  ,  69.23  ,  69.04  ,
         64.48  ,  65.73  ,  67.2   ,  70.25  ,  82.59  ,  92.12  ,
        100.82  ,  95.23  ,  89.51  ,  82.84  ,  82.3   ,  83.76  ,
         84.72  ,  83.91  ,  99.14  , 101.6   , 113.03  , 119.54  ,
        118.09  , 107.32  ,  82.6   ,  77.4   ,  71.77  ,  71.25  ,
         71.35  ,  73.62  ,  76.2   ,  74.15  ,  75.67  ,  79.2   ,
         80.85  ,  85.33  ,  75.02  ,  77.95  ,  78.98  ,  76.55  ,
         74.89  ,  70.    ,  81.53  ],
       [ 62.55  ,  62.73  ,  63.43  ,  63.83  ,  66.06  ,  69.22  ,
         72.07  ,  69.31  ,  65.18  ,  62.13  ,  64.17  ,  65.5   ,
         66.85  ,  68.38  ,  68.77  ,  69.32  ,  69.77  ,  70.17  ,
         70.76  ,  75.16  ,  74.86  ,  71.47  ,  76.08  ,  82.11  ,
         94.63  ,  98.54  ,  97.84  ,  94.54  ,  97.88  ,  97.73  ,
        100.89  , 104.88  , 104.39  , 101.9   ,  98.99  ,  99.42  ,
        106.37  , 113.89  , 114.78  , 115.6   , 115.89  , 117.66  ,
        118.27  , 114.19  , 101.81  ,  91.62  ,  90.15  ,  90.55  ,
         92.3   ,  91.75  ,  92.    ,  92.57  , 100.28  , 114.33  ,
        122.17  , 117.83  , 112.49  ,  93.7   ,  97.17  ,  95.64  ,
        102.21  , 107.58  , 110.48  , 117.73  , 122.07  , 128.58  ,
        131.12  , 127.08  , 110.99  ,  97.43  ,  92.05  ,  93.21  ,
         98.58  , 100.23  , 102.09  , 101.73  , 107.28  , 115.35  ,
        123.03  , 123.08  , 109.71  ,  97.22  ,  95.75  ,  97.09  ,
         98.18  , 103.1   , 110.6   ],
       [ 48.26  ,  51.01  ,  50.91  ,  53.94  ,  61.27  ,  65.44  ,
         56.51  ,  53.    ,  43.87  ,  42.12  ,  43.98  ,  44.66  ,
         47.73  ,  52.31  ,  56.8   ,  51.15  ,  54.63  ,  55.8   ,
         57.31  ,  53.81  ,  55.5   ,  52.95  ,  53.29  ,  54.86  ,
         71.72  ,  74.36  ,  78.25  ,  70.63  ,  77.06  ,  81.52  ,
         84.12  ,  83.33  ,  66.98  ,  62.04  ,  59.79  ,  66.06  ,
         71.99  ,  76.79  ,  80.98  ,  89.18  ,  92.71  ,  94.85  ,
         99.18  ,  86.33  ,  71.94  ,  67.18  ,  62.98  ,  69.45  ,
         67.56  ,  67.92  ,  68.4   ,  67.97  ,  76.33  ,  95.79  ,
        112.36  ,  82.03  ,  73.83  ,  66.12  ,  63.24  ,  63.98  ,
         69.1   ,  70.04  ,  80.03  ,  87.92  ,  97.07  , 106.52  ,
        108.93  ,  95.17  ,  74.31  ,  62.63  ,  69.92  ,  70.58  ,
         74.63  ,  78.69  ,  81.82  ,  82.36  ,  89.44  , 102.01  ,
        116.12  ,  92.06  ,  82.7   ,  66.62  ,  68.11  ,  73.48  ,
         82.04  ,  81.19  ,  95.05  ],
       [ 71.25  ,  71.35  ,  70.9   ,  71.92  ,  72.91  ,  74.39  ,
         73.1   ,  70.24  ,  69.12  ,  68.98  ,  68.58  ,  69.5   ,
         70.14  ,  70.58  ,  70.78  ,  72.78  ,  72.84  ,  74.74  ,
         76.43  ,  81.2   ,  82.04  ,  79.67  ,  81.25  ,  85.88  ,
         91.35  , 101.32  , 102.45  ,  98.18  , 105.1   , 104.85  ,
        111.48  , 118.51  , 118.92  , 109.87  , 105.22  , 105.45  ,
        115.61  , 116.61  , 120.39  , 119.2   , 119.92  , 120.57  ,
        123.37  , 121.39  , 118.16  , 108.84  , 100.78  ,  99.92  ,
        100.65  ,  98.92  , 100.31  ,  96.41  , 101.24  , 118.7   ,
        133.29  , 130.31  , 122.4   , 104.98  , 107.54  , 110.74  ,
        110.51  , 111.46  , 113.42  , 118.15  , 114.    , 124.91  ,
        126.06  , 123.3   , 111.61  ,  98.82  ,  97.47  , 103.01  ,
        109.36  , 104.79  , 105.09  , 103.16  , 106.52  , 121.68  ,
        125.32  , 123.41  , 108.48  ,  98.73  ,  96.25  , 100.12  ,
        101.29  , 102.81  , 108.53  ]])

In [ ]:
np.arange(1,88,1)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85,
       86, 87])

In [ ]:
7*12+3

87

In [2]:
url = 'https://raw.githubusercontent.com/maarantesfazenda/python_datascience_alura/refs/heads/main/Dados/apples_ts.csv'